queue==latest
pyi_splash==latest
easytrader==0.23.0
pandas==2.0.3
subprocess==latest
copy==latest
numpy==1.24.4
matplotlib==3.7.5
webbrowser==latest
threading==latest
logging==latest
bs4==0.0.2
itertools==latest
requests==2.32.3
concurrent==latest
os==latest
tkinter==latest
datetime==latest
simpleaudio==1.0.4
re==latest
StockChatBot==latest
json==latest
pydub==0.25.1
time==latest
markdown==3.4.1
